    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    html {
        height: 100%;
        font-size: 18px;
    }
    body {
        max-width: 1920px;
        min-height: 100%;
        margin: 0 auto;
        }
    header {
        display: grid;
        grid-template-columns: 56% 1fr;
        width: 100%;
    }
    #header .left-column h1 {
        padding-bottom: 8.8333rem;
        padding-left: 5.8333rem;
    }
    #header {
        display: block;
        width: 100%;
        position: relative;
    }
    #header .left-column .meniu {
        color: #FFFFFF;
        float: right;
        padding-top: 2.1667rem;
        padding-right: 6.0556rem;
        cursor: pointer;
        
    }
    
    #header .left-column .meniu ul {
        
        display: none;
    }
    #main-contact {
        display: grid;
        grid-template-rows: 1fr auto 1fr;
    }
    #main-contact .contacts-container-1 p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 72px;
        font-weight: 900;
        margin-bottom: 1.8889rem;
        
    }
    #main-contact .contacts-container-2 input {
        background-color: #F8F8F8;
        margin-bottom: 2.7778rem;
        border: none;
    }
    .contacts-container-2 {
        display: grid;
        grid-template: auto / 20% 80% ;
    }
    header .left-column {
        background-color: black;
    }
    header .right-column {
        background-color: #69779b;
        position: relative;
    }
    header .right-column a {
        color: #FFFFFF;
        font-size: 1.3889rem;
        line-height: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        position: absolute;
        bottom: 4.9444rem;
        right: 6.1111rem;
        text-decoration: none;
        
        
    }
    header .right-column i {
        padding-left: 0.2778rem;
    }
    i {
        font-size: 1.1111rem;
    }
    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        color: #FFFFFF;
        font-size: 5.6667rem;
        padding-top: 10.1111rem;
        padding-bottom: 8.8333rem;
        padding-left: 6.1667rem;
        padding-right: 24.3889rem;
    }

    header  ul {
        padding-left: 6.1111rem;
        padding-bottom: 4.3889rem;
    }
    header  ul > li {
        display: inline-block;
        font-size: 1.1111rem;
        list-style: none;
        line-height: 1.5556rem;
        font-family: 'Source Sans Pro', sans-serif;
        padding-right: 0.8889rem;
        
    }
    header  ul > li > a {
        text-decoration: none;
        color: #505050;
    }
    header  ul > li > a:hover {
        color: #F5A623;
    }
    /* header  ul > li > a:focus {
        color: #F5A623;
    } */
    .active {
        color: #F5A623;
    }
    
    main {
        margin-top: 9.3333rem;
        margin-right: 6.1111rem;
        margin-left: 6.1111rem;
    }
    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto;
    }
    .container-1 {
        width: 81%;
        display: grid;
        grid-template-columns: 53% 1fr;
    }
    .container-1  .left-column img {
        width: 100%;
        display: block;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
    }
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        color: #060606;
        font-size: 4rem;
        line-height: 5.7222rem;
        font-weight: 900;
        
    }
    .container-1 .right-column h2 {
        padding-top: 10.1111rem;
        padding-left: 3.2778rem;
        font-weight: 900;
        
    }

    .container-1 .right-column a {
        color: #F5A623;
        text-decoration: none;
        font-size: 1.3889rem;
        line-height: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        padding-left: 3.2778rem;
        font-weight: 900;
        
    }
    .container-2 {
        margin-top: 7.8889rem;
        
    }
    .media {
        width: 100%;
        height: 100%;
        float: left;
        margin-top: 1.1667rem;
    }
    .media-box {
        width: 50%;
        height: 50%;
        float: left;
    }

    img {
        width: 100%;
        display: block;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
    }
    
    .container-2 .media .box-3 {
        display: grid;
        place-items: center;
        background-color: #69779b;
    }
    .container-2 .media .box-3-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .container-2 .media .box-3 h3 {
        color: #fff;
        font-size: 2.8333rem;
        line-height: 4rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        
    }
    .container-2 .media .box-3 a {
        color: #fff;
        text-decoration: none;
        font-size: 1.3889rem;
        line-height: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-left: 28%;
        
    }
    .container-3 {
        padding-top: 12.7222rem;
        height: 100%;
    }
    
    .content {
        margin-top: 1.1667rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 9.4444rem;
    }
    h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2.8333rem;
        line-height: 4rem;
        font-weight: 900;
        
    }
    .row-1 {
        width: 100%;
        display: grid;
        grid-template-columns: auto 57%;
        height: auto;
    }
    .row-1 .left-column {
        padding-left: 8.0556rem;
        padding-right: 3.3889rem;
    }
    .row-1 .left-column h3, 
    .row-2 .left-column h3, 
    .row-3 .left-column h3 {
        padding-top: 5.8333rem;
        padding-bottom: 1.3889rem;
    }
    .row-1 .left-column p {
        color: #06060673;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1rem;
        line-height: 1.8889rem;
    }
    .row-1 .right-column img {
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
    }
    .row-2 {
        width: 100%;
        background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.2)
        ), url(https://images.pexels.com/photos/7887037/pexels-photo-7887037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .row-2 .left-text-box  {
        width: 43%;
        height: 100%;
        padding-top: 12.2778rem;
        padding-left: 8.0556rem;
        padding-right: 3.3889rem;
        
    }
    
    .row-2 .left-text-box h3 {
        color: #FFFFFF;
        padding-bottom: 1.3889rem;
    }
    .row-2 .left-text-box p {
        color: #FFFFFF99;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1rem;
        line-height: 1.8889rem;
        background-color: ;
    }
    .row-3 {
        width: 100%;
        display: grid;
        grid-template-columns: auto 57%;
        height: auto;
    }
    .row-3 .left-column {
        padding-left: 8.0556rem;
        padding-right: 3.3889rem;
    }
    .row-3 .left-column p {
        color: #06060673;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1rem;
        line-height: 1.8889rem;
    }
    .row-3 .right-column img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    footer {
        color: #fff;
        margin-top: 9.4444rem;
        background-color: #060606;
        display: flex;
        flex-direction: column;
    }
    span {
        color: #F5A623;
    }
    .footer-items{
        padding-left: 5.9444rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        display: grid;
        grid-template-columns: 30% 35% 15% 15%;
    }
    .footer-items p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2rem;
        line-height: 2.7222rem;
    }
    .footer-items .item-1 {
        margin-right: 7.7222rem;
    }
    input {
        color: #FFFFFF;
        display: block;
        border: none;
        background-color: #000000;
        width: 55%;
        padding-left: 0;
        border-bottom: 0.0556rem solid #808080;
        padding-bottom: 0.4583rem;
        }
    input:focus {
        color: #FFFFFF;
        border: none;
        outline: none;
        border-bottom: 0.0556rem solid #808080;
        }

        ::-webkit-input-placeholder {
            color: #FFFFFF;
        }
    
    .email {
        padding-top: 19px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3.3889rem;
    }
    .btn {
        background-color: #060606;
        border: none;
        cursor: pointer;
        color: #FFFFFF;
        font-weight: 700;
    }
   
    label > i {
        font-size: 0.8333rem;
    }
    
    .icons {
        padding-bottom: 3.8889rem;
        padding-right: 6.1111rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        gap: 2.3889rem;
    }
    .icons li {
    }
    .icons i {
        color: #FFFFFF;
        width: 1.1111rem;
        cursor: pointer;
    }
    #item-3-contact {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.8889rem;
        line-height: 1.8889rem;
    }
    .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-size: 1rem;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 0;
        padding-left: 1.1111rem;
        
    }
    footer p:not(#item-3-contact) {
        font-weight: 700;
    }
    @media all and (max-width: 1340px){
        .row-1 .left-column,
        .row-2 .left-text-box,
        .row-3 .left-column {
            padding-left: 2.7778rem;
            padding-top: 2.7778rem;
        }
        .row-1 .left-column h3,
        .row-3 .left-column h3 {
            padding-top: 1.1111rem;
        }
        .footer-items {
            grid-template-columns: auto auto;
            row-gap: 2.7778rem;
            padding-bottom: 0;
        }
        .container-1 {
            width: 100%;
            grid-template-columns: 1fr 1fr;
        }
        .container-1 .right-column h2{
            padding-top: 2.7778rem; 
        }
        .icons{
            padding-bottom: 0.2778rem;
        }
    }

    @media all and (max-width: 1230px) {
        html {
            font-size: 14px;
        }
        #item-3-contact,
        .row-1 .left-column p,
        .row-2 .left-text-box p,
        .row-3 .left-column p {
        font-size: 1rem;
        }

        .footer-items  {
            padding-right: 1.6667rem;
        }
    }
    @media all and (max-width: 900px) {
        html {
            font-size: 11px;
        }
        header {
            grid-template-columns: auto;
        }

        header .right-column a {
            position: static;
        }
        header .right-column {
            display: grid;
            place-items: center;
        }
        header .left-column h1, ul{
            width: 100%;
        }
        #item-3-contact,
        .row-1 .left-column p,
        .row-2 .left-text-box p,
        .row-3 .left-column p {
        font-size: 1.5rem;
        }
        .row-1 .left-column,
        .row-2 .left-text-box,
        .row-3 .left-column {
            padding-left: 0.5556rem;
            padding-top: 0.5556rem;
        }
        .row-1 .left-column h3,
        .row-3 .left-column h3 {
            padding-top: 0.5556rem;
        }
        .footer-items {
            padding: 0.5556rem;
        }
        .footer-items {
            width: 70%;
            display: block;
        }
        footer {
            position: relative;
        }
        .icons {
            width: 30%;
            position: absolute;
            right: 0.5556rem;
            top: 0.5556rem;
            text-align: center;
        }
        .icons i {
            padding: 0.5556rem;
            font-size: x-large;
        }
        .item-1,
        .item-2,
        .item-3 {
            padding-bottom: 0.1667rem;
        }
    }
    @media all and (max-width: 670px)  {
        html {
            font-size: 8px;
        }

        .icons i {
            font-size: medium;
        }
        .icons {
            padding-right: 20px;
        }
        a,
        header .right-column a,
        .container-1 .right-column a,
        .container-2 .media  .box-3 a,
        #item-3-contact{
            font-size: 17px;
        }
        .footer-items {
            width: 100%;
        }
    }
    @media all and (max-width: 513px) {
        body {
            width: 100%;
        }
        .container-1 {
            display: block;
        }
        .media-box {
            width: 100%;
        }
        .container-2 .media .box-3 {
            height: 20%;
        }
        .container-3  {
            padding-top: 93rem;
        }
            [class*="row-"]:not(.fas) {
            display: block;
        }
        .row-2 .left-text-box {
            padding-left: 2.55rem;
            padding-top: 6.555rem;
        }
        .row-1 .left-column p,
        .row-3 .left-column p {
            padding-bottom: 3rem;
        }
       
        label {
            width: 30%;
        }
        .btn {
            display: inline;
            width: 100%;
        }
        
    }